body { /*fuente del body*/
    font-family: sans-serif;
}

header {
    background-color: #000000;
    display: flex; /*coloca los elementos uno a la lado del otro*/
    justify-content: space-between; /*separa los elementos*/
    padding: 5px;
}

.logo {
    display: flex; /*coloca la img y el h3 al lado*/
    align-items: center; /*centra los elementos*/
}

nav,
ul {
    list-style: none; /*sin marcador*/
    display: flex;
    align-items: center; /*centra las li y sus a*/
}

li {
    padding: 0 10px;
}

a {
    text-decoration: none; /*sin subrrallado en los a*/
    color: #f0f8ff;
}

a:hover { /*cambia de color*/
    color: #706677;
    cursor: pointer;
}

img { /*anhoo y alto de la imagen*/
    width: 70px;
    height: 70px;
}

/*RESPONSIVE*/

@media (max-width: 600px) { /*anch miniom de 600px*/
    header { /*los elementos del header se centraran en columnas*/
        flex-direction: column;
        align-items: center;
    }
    img { /*el ancho y alto de la imagen se reducira 10px*/
        width: 60px;
        height: 60px;
    }
    ul { /*los li se separan*/
        justify-content: space-around;
    }
}